<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/pure-min.css">
        <script src= "../assets/angular.min.js"></script>
        <style>
            .button-secondary {
                background: rgb(66, 184, 221); /* this is a light blue */
            }
            .container{
                width:80%;
                min-width:400px;
                margin-right:auto;
                margin-left:auto;
                margin-top:100px;
            }
            .list{
                text-align: center;
            }
            .list-term{
                margin-right: 2px;
                margin-top: 5px;
            }
            </style>
    </head>
    <body ng-app="autoDeploy" ng-controller="mainController">
        <div class="container">
            <form class="list pure-form pure-form-aligned" ng-show = "loadform" ng-submit="addHook()">
                <h2 class="content-subhead">Define deployment details</h2>
                <div class="pure-control-group">
                    <label for="id">Server IP</label>
                    <input id ="ip" name="ip" placeholder="32.123.12.34" ng-model="server.ip" type="text">
                </div>
                <div class="pure-control-group">
                    <label for="username">Username</label>
                    <input id="username" name="username" placeholder="root" ng-model="server.username" type="text">
                </div>
                <div class="pure-control-group">
                    <label for="password">Password</label>
                    <input id="password" name="password" ng-model="server.password" type="password"> 
                </div>
                <div class="pure-control-group">
                    <label for="directory">Directory</label>
                    <input class = "pure-input-3-5" id="directory" name="directory" placeholder="/var/www/html/drupal/docroot/" ng-model="server.directory" type="text"> 
                </div>
                <div class="pure-control-group">
                    <label for="command">command</label>
                    <input id="command" name="command" placeholder="git pull origin master" ng-model="server.command" type="text">
                </div>
                <button class="pure-button pure-button-primary" type="submit">Submit</button>
            </form>
            <div ng-show = "branches" class="list branch">
                <h2 class="content-subhead">Choose a Branch</h2>
                <p>
                    <button class='button-secondary pure-button list-term' ng-repeat="names in branches" ng-model="data.repo" ng-click="loadForm($event)" branch="{{names.name}}">{{names.name}}</button>
                </p>
            </div>
            <div class="list repo">
                <h2 class="content-subhead">Choose a Repo</h2>
                <p>
                    <%for (i in repolist){%>
                        <button class='pure-button-primary pure-button list-term' ng-model="data.repo" ng-click="fetchBranch($event)" repo="<%=repolist[i].name%>" owner="<%=repolist[i].owner%>"><%=repolist[i].fullname%></button>
                    <%}%>
                </p>
            </div>
            <div ng-show="errorMsg">{{errorMsg}}</div>
            <div ng-show="successMsg">{{successMsg}}</div>
        </div>
    </body>
    <script>
        var autoDeploy = angular.module('autoDeploy', []);
        autoDeploy.controller('mainController', function($scope, $http) {
            
            var repo = "";
            var owner = "";
            var branch = "";
            
            $scope.fetchBranch = function(obj){
                branch = "";
                repo = obj.target.attributes.repo.value;
                owner = obj.target.attributes.owner.value;
                $http({
                  method  : 'GET',
                  url     : '/choosebranch/'+repo+'/'+owner,
                  data    : $scope.user
                 })
                .success(function(data) {
                  $scope.branches = data;
                })
                .error(function(err){
                  $scope.errorMsg = err;
                });
            }
            
            $scope.loadForm = function(obj){
                $scope.loadform = 1;
                branch = obj.target.attributes.branch.value;
            }
            
            $scope.addHook = function(){
                var jist = {
                    owner:owner,
                    reponame:repo,
                    branch:branch,
                    serverip:$scope.server.ip,
                    serveruser:$scope.server.username,
                    serverpass:$scope.server.password,
                    serverpath:$scope.server.directory,
                    command:$scope.server.command
                };
                alert(JSON.stringify(jist));
                $http({
                  method  : 'POST',
                  url     : '/addwebhook',
                  data    : JSON.stringify(jist)
                 })
                .success(function(data) {
                  $scope.successMsg = data;
                })
                .error(function(err){
                  $scope.errorMsg = err;
                });
            }
        });
    </script>
</html>